body {
    background-color: rgba(2, 73, 8, 0.559);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.conteudo {
    background-color: white;
    border-radius: 10px;
    padding: 20px; 
    padding-top: 40px; 
    box-shadow: 0 4px 15px black;
    max-width: 300px;
    width: 100%;
}

.arrow { 
    display: flex;
    position: absolute;
    top: 301px; 
    left: 759px; 
}

.arrow a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #4CAF50;
}

h1 {
    font-size: 2.5rem;
    color: #4CAF50;
}

.botao {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.botao a {
    text-decoration: none;
    color: white;
}

.botao:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

.botao:active {
    transform: translateY(1px);
}


